*{
    margin: 0;
    padding: 0;
}

#brec{
    background-color: yellow;
    width: 350px;
    height: 250px;
    position: relative;
}
.srec1, .srec2{
    background-color: blue;
    height: 100px;
    width: 100px;
}
.srec2{
    position: absolute;
    top: 150px;
}
.mrec1, .mrec2{
    background-color: blue;
    height: 100px;
    width: 200px;
    position: absolute;
    left: 150px;
    top: 0;
}
.mrec2{
    position: absolute;
    top: 150px;