*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
    background-color: azure;
    height: 800px;
    width: 800px;
}
.box{
    color: blue;

}
.one,.three,.five,.seven{
    background-color: white;
}
.two,.four,.six,.eight{
    background-color: brown;
}
